/* React Starter Kit | MIT License | http://www.reactstarterkit.com/ */

@import '../variables.css';

.Header {
  padding: 10px;
  transition: height .3s ease;

  &__logo {
    transform-origin: left top;
    display: block;

    pre {
      overflow: visible;
      margin: 0;
    }
  }
}
